* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divLinkValgomat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3d3d3;
    border-radius: 5px;
    width: 50%;
}

#linkValgomat {
    text-decoration: none;
    color: black;
    margin: 2em;
    text-align: center;
    font-size: 1.5em;
}

.divSporsmal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3d3d3;
    border-radius: 5px;
    width: 55%;
}

.divSporsmal h2{
    text-align: center;
    margin: 1em;
}

.divSporsmal h1{
    text-align: center;
    margin: 1em;
}

.buttonDiv {
    text-align: center;
}

#svar {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

.nextDiv {
    text-align: center;
}

#nextButton {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: none;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}