* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.divLinkValgomat {
    position: relative;
    margin-top: 25em;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3d3d3;
    border-radius: 5px;
    width: 55%;
}

#linkValgomat {
    text-decoration: none;
    color: black;
    margin: 2em;
    text-align: center;
    font-size: 1.5em;
}

.divSporsmal {
    position: relative;
    margin-top: 25em;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3d3d3;
    border-radius: 10px;
    width: 55%;
}

.divSporsmal h2{
    text-align: center;
    margin: 1em;
}

.divSporsmal h1{
    text-align: center;
    margin: 1em 1em 0em 1em;
    padding: 5% 0 5% 0;
}

.buttonDiv {
    text-align: center;
}

#svar {
    color: black;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

.nextDiv {
    text-align: center;
}

#nextButton {
    color: black;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: none;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

.forOgMotArgumenterDiv {
    position: relative;
    border: 2em;
    margin-top:1em;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3d3d3;
    border-radius: 5px;
    width: 55%;
}

#argumenter {
    text-align: center;
    margin: 1em;
}

#forArgumenteOverskrift {
    text-align: center;
    margin: 1em;
}

#forArgumenter {
    text-align: center;
    margin: .5em 1em .5em 1em;
}

#motArgumenteOverskrift {
    text-align: center;
    margin: 1em;
}

#motArgumenter {
    text-align: center;
    margin: .5em 1em .5em 1em;
    padding-bottom: 1em;
}

.forOgMotArgumentDivLink{
    text-align: center;
    margin: 1em;
}

#forOgMotArgumenterLink {
    text-decoration: none;
    color: black;
    margin: .5em;
    font-size: 1.25em;
    
}